USE [digitalisasi]
GO
ALTER TABLE [dbo].[em_vendors] DROP CONSTRAINT [FK_em_vendors_em_types]
GO
ALTER TABLE [dbo].[em_vendor_ledger_accounts] DROP CONSTRAINT [FK__em_vendor__vendo__4F87BD05]
GO
ALTER TABLE [dbo].[em_vendor_ledger_accounts] DROP CONSTRAINT [FK__em_vendor__ledge__507BE13E]
GO
ALTER TABLE [dbo].[em_vendors] DROP CONSTRAINT [DF__em_vendor__updat__5A3A55A2]
GO
ALTER TABLE [dbo].[em_vendors] DROP CONSTRAINT [DF__em_vendor__creat__59463169]
GO
ALTER TABLE [dbo].[em_ledger_account] DROP CONSTRAINT [DF__em_ledger__updat__4CAB505A]
GO
ALTER TABLE [dbo].[em_ledger_account] DROP CONSTRAINT [DF__em_ledger__creat__4BB72C21]
GO
/****** Object:  Table [dbo].[em_vendors]    Script Date: 4/22/2026 7:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[em_vendors]') AND type in (N'U'))
DROP TABLE [dbo].[em_vendors]
GO
/****** Object:  Table [dbo].[em_vendor_ledger_accounts]    Script Date: 4/22/2026 7:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[em_vendor_ledger_accounts]') AND type in (N'U'))
DROP TABLE [dbo].[em_vendor_ledger_accounts]
GO
/****** Object:  Table [dbo].[em_ledger_account]    Script Date: 4/22/2026 7:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[em_ledger_account]') AND type in (N'U'))
DROP TABLE [dbo].[em_ledger_account]
GO
/****** Object:  Table [dbo].[em_ledger_account]    Script Date: 4/22/2026 7:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[em_ledger_account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ledger_account] [varchar](20) NULL,
	[desc_coa] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[tax_percent] [decimal](8, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[em_vendor_ledger_accounts]    Script Date: 4/22/2026 7:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[em_vendor_ledger_accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_id] [int] NOT NULL,
	[ledger_account_id] [int] NOT NULL,
	[desc_override] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[em_vendors]    Script Date: 4/22/2026 7:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[em_vendors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[em_type_id] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[vendor_number] [varchar](50) NULL,
	[cost_center] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[em_ledger_account] ON 

INSERT [dbo].[em_ledger_account] ([id], [ledger_account], [desc_coa], [created_at], [updated_at], [tax_percent]) VALUES (1, N'62101101', N'GA Salaries', CAST(N'2025-08-04T08:12:46.133' AS DateTime), CAST(N'2025-08-04T08:12:46.133' AS DateTime), NULL)
INSERT [dbo].[em_ledger_account] ([id], [ledger_account], [desc_coa], [created_at], [updated_at], [tax_percent]) VALUES (2, N'62101104', N'GA Transport Allow.', CAST(N'2025-08-04T08:12:46.133' AS DateTime), CAST(N'2025-08-04T08:12:46.133' AS DateTime), NULL)
INSERT [dbo].[em_ledger_account] ([id], [ledger_account], [desc_coa], [created_at], [updated_at], [tax_percent]) VALUES (3, N'62101105', N'GA Medical Allow.', CAST(N'2025-08-04T08:12:46.133' AS DateTime), CAST(N'2025-08-04T08:12:46.133' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[em_ledger_account] OFF
GO
SET IDENTITY_INSERT [dbo].[em_vendor_ledger_accounts] ON 

INSERT [dbo].[em_vendor_ledger_accounts] ([id], [vendor_id], [ledger_account_id], [desc_override]) VALUES (103, 1128, 16, NULL)
INSERT [dbo].[em_vendor_ledger_accounts] ([id], [vendor_id], [ledger_account_id], [desc_override]) VALUES (178, 1, 82, N'GA Cafetaria')
INSERT [dbo].[em_vendor_ledger_accounts] ([id], [vendor_id], [ledger_account_id], [desc_override]) VALUES (179, 1133, 19, N'GA Catering')
SET IDENTITY_INSERT [dbo].[em_vendor_ledger_accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[em_vendors] ON 

INSERT [dbo].[em_vendors] ([id], [em_type_id], [name], [created_at], [updated_at], [deleted_at], [vendor_number], [cost_center]) VALUES (1, 1, N'CV. ILHAM''S BAKERY', CAST(N'2025-07-15T14:29:44.827' AS DateTime), CAST(N'2025-07-15T14:29:44.827' AS DateTime), NULL, N'BNL000400', N'11601')
INSERT [dbo].[em_vendors] ([id], [em_type_id], [name], [created_at], [updated_at], [deleted_at], [vendor_number], [cost_center]) VALUES (2, 1, N'CV. MIRANTI GLOBAL MANDIRI', CAST(N'2025-07-15T14:29:44.827' AS DateTime), CAST(N'2026-04-22T10:04:57.330' AS DateTime), CAST(N'2026-04-22T10:04:57.330' AS DateTime), NULL, NULL)
INSERT [dbo].[em_vendors] ([id], [em_type_id], [name], [created_at], [updated_at], [deleted_at], [vendor_number], [cost_center]) VALUES (3, 1, N'DAPOER BUNDA CATERING', CAST(N'2025-07-15T14:29:44.827' AS DateTime), CAST(N'2026-04-22T10:04:57.337' AS DateTime), CAST(N'2026-04-22T10:04:57.337' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[em_vendors] OFF
GO
ALTER TABLE [dbo].[em_ledger_account] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[em_ledger_account] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[em_vendors] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[em_vendors] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[em_vendor_ledger_accounts]  WITH CHECK ADD FOREIGN KEY([ledger_account_id])
REFERENCES [dbo].[em_ledger_account] ([id])
GO
ALTER TABLE [dbo].[em_vendor_ledger_accounts]  WITH CHECK ADD FOREIGN KEY([vendor_id])
REFERENCES [dbo].[em_vendors] ([id])
GO
ALTER TABLE [dbo].[em_vendors]  WITH CHECK ADD  CONSTRAINT [FK_em_vendors_em_types] FOREIGN KEY([em_type_id])
REFERENCES [dbo].[em_types] ([id])
GO
ALTER TABLE [dbo].[em_vendors] CHECK CONSTRAINT [FK_em_vendors_em_types]
GO
