@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield; /* Firefox */
}

.text-sm {
    font-size: 0.75rem;
}

#addModal,
#editModal {
    z-index: 1080 !important;
}

.modal-backdrop {
    z-index: 1075 !important;
}

.modal.fade .modal-dialog {
    transform: translateY(30px);
    transition: all 0.3s ease-out;
}
.modal.show .modal-dialog {
    transform: translateY(0);
}

.toggle-icon {
    transition: transform 0.2s ease;
}
.rotate-180 {
    transform: rotate(180deg);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "›";
    color: #6c757d;
}

.ts-wrapper {
    font-size: 11px !important; /* Ukuran dasar */
}

.ts-control {
    font-size: 11px !important;
    padding: 0.25rem 0.5rem !important;
    min-height: calc(1.5em + 0.5rem + 2px) !important;
}

.ts-control .item {
    font-size: 11px !important;
}

.ts-dropdown .option {
    font-size: 11px !important;
}

.label-text {
    font-size: 0.75rem;
    color: #6c757d; /* Bootstrap text-muted */
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2px;
}

.value-text {
    font-size: 1rem;
    font-weight: 500;
    color: #212529; /* Bootstrap text-dark */
    padding: 6px 0;
    border-bottom: 1px dashed #dee2e6;
}
