@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield; /* Firefox */
}

.text-sm {
    font-size: 0.75rem;
}

.modal.fade .modal-dialog {
    transform: translateY(30px);
    transition: all 0.3s ease-out;
}
.modal.show .modal-dialog {
    transform: translateY(0);
}

.toggle-icon {
    transition: transform 0.2s ease;
}
.rotate-180 {
    transform: rotate(180deg);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "›";
    color: #6c757d;
}
